## Eliminaci√≥n de variables con varianza igual a cero

#### 1. Carga de librerias y datos

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from matplotlib import rcParams

In [12]:
datos =pd.read_csv('C:/Users/pc/Desktop/rociochavez/Rocio-Chavez-youtube-Files-master/Ejemplo varianza.csv', index_col=0)

In [13]:
datos

       A       B      C    D   E
id
1    945    1814    235  629  20
2   1978    5588   6850  629  20
3   1028   22890    505  629  20
4   4527   57497   8698  629  20
5   5063   54592   2510  629  20
6   3360   33287   9505  629  20
7   1996  150970   2417  629  20
8   8207  146476   1767  629  20
9   1381     699    766  629  20
10  2971   27144   2930  629  20
11  3810   48462   7429  629  20
12  8215  104172   2327  629  20
13  1253  116611  11508  629  20
14   768   23897   3216  629  20
15  6103    6763   6244  629  20
16  5095   13717   2856  629  20
17  3133   10141   1325  629  20
18  2913     286    472  629  20
19  9752   35548   8533  629  20
20  9218  131005  10437  629  20
21  4556    4558   2576  629  20
22  1510    4444   2379  629  20
23  2076     566    349  629  20
24  6473   86202   5083  629  20
25   203  126277   1209  629  20
26  5063   54592   2510  629  20
27   986   75004   3732  629  20
28  3612   14118   6911  629  20
29  7572   50158   6935  629  20
30   307    1456    244  629  20

#### 2. Obtenemos la varianza de la columna A

In [14]:
varianza_A=datos['A'].var()

varianza_A

7713863.636781609

#### 3. Utilizamos una lista y un ciclo for para detectar todas las columnas que tengan varianza igual a cero

In [18]:
cant_col=datos.shape[1]
cant_col

5

In [19]:
col_var0=[]

for i in range(0, cant_col):
    varianza=datos.iloc[:,i].var()
    print(datos.columns.values[i], varianza)
    if varianza==0:
        col_var0.append(i)

A 7713863.636781609
B 2332424280.395402
C 11307253.236781614
D 0.0
E 0.0

In [20]:
col_var0

[3, 4]

#### 4 Borramos las columnas cuya varianza sea igual a cero

In [22]:
datos.drop(datos.columns.values[col_var0], axis=1)
datos

       A       B      C    D   E
id
1    945    1814    235  629  20
2   1978    5588   6850  629  20
3   1028   22890    505  629  20
4   4527   57497   8698  629  20
5   5063   54592   2510  629  20
6   3360   33287   9505  629  20
7   1996  150970   2417  629  20
8   8207  146476   1767  629  20
9   1381     699    766  629  20
10  2971   27144   2930  629  20
11  3810   48462   7429  629  20
12  8215  104172   2327  629  20
13  1253  116611  11508  629  20
14   768   23897   3216  629  20
15  6103    6763   6244  629  20
16  5095   13717   2856  629  20
17  3133   10141   1325  629  20
18  2913     286    472  629  20
19  9752   35548   8533  629  20
20  9218  131005  10437  629  20
21  4556    4558   2576  629  20
22  1510    4444   2379  629  20
23  2076     566    349  629  20
24  6473   86202   5083  629  20
25   203  126277   1209  629  20
26  5063   54592   2510  629  20
27   986   75004   3732  629  20
28  3612   14118   6911  629  20
29  7572   50158   6935  629  20
30   307    1456    244  629  20